<script setup lang="ts">
import { ref } from "vue";
import { DatatableColumn, DatatableData, TwButton, TwDatatableServer } from "vue3-tailwind";
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "50px",
      sortable: true,
    },
    {
      label: "배달상태",
      field: "stateDelivery",
      width: "200px",
      sortable: true,
    },
    {
      label: "상태 변화 시간",
      field: "datePick",
      width: "300px",
      sortable: true,
    },
    {
      label: "라이더",
      field: "riderName",
      width: "100px",
      sortable: false,
    },
    {
      label: "주문업소",
      field: "storeName",
      width: "500px",
      sortable: false,
    },
    {
      label: "도착지",
      field: "addressClientDo",
      width: "500px",
      sortable: false,
    },
  ] as Array<DatatableColumn>,
  data: [] as Array<DatatableData>,
  limit: 5,
  offset: 0,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: true,
    limitOption: [
      {
        label: "5",
        value: 5,
      },
      {
        label: "10",
        value: 10,
      },
      {
        label: "50",
        value: 50,
      },
      {
        label: "100",
        value: 100,
      },
      {
        label: "200",
        value: 200,
      },
    ],
  },
});

const fetchData = async () => {
  const baseUrl = "http://192.168.0.206:8080/v1/delivery/all/go";
  const response = await fetch(
    baseUrl +
    "?" +
    new URLSearchParams({
      limit: data.value.limit.toString(),
      skip: data.value.offset.toString(),
      q: data.value.search.toString(),
      sortType: data.value.sortType,
      sortBy: data.value.sortBy,
    })
  );
  const responseJson = await response.json();
  return {
    data: responseJson["list"],
    totalData: responseJson["totalCount"],
  };
};


const sortClick = (event: any) => {
  const sortBy = data.value.sortBy
  const sortType = data.value.sortType
  const sortByNew = event
  const sortTypeNew = event === sortBy ? (sortType === 'asc' ? 'desc' : 'asc') : 'asc'
  data.value = { ...data.value, sortBy: sortByNew, sortType: sortTypeNew }
}
//검색창
import { ref } from 'vue'
import { Search } from '@element-plus/icons-vue'
const input2 = ref('')
//선택박스
const value = ref('')
const options = [
  {
    value: 'Option1',
    label: '단원구',
  },
  {
    value: 'Option2',
    label: '상록구',
  },
]

</script>

<template>
  <div>
    <div class=" the-top">
      <div>
        <h1 class="text-xl font-bold text-[#212121]">배달 현황</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">배달 출발 리스트</h2>
      </div>
      <div>
        <!--선택박스-->
        <el-select
          v-model="value"
          clearable
          placeholder="전체"
          style="width: 90px"
        >
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          />
        </el-select>
        <!--검색창-->
        <el-input
          v-model="input2"
          style="width: 240px"
          placeholder="배달 현황을 검색해보세요"
          :suffix-icon="Search"
        />
      </div>
      <hr class="my-2 border dark:border-gray-700" />

    </div>
    <div class="table-temp">
      <TwDatatableServer
        :fetch-data="fetchData"
        v-model:search="data.search"
        v-model:limit="data.limit"
        v-model:offset="data.offset"
        v-model:selected="data.selected"
        v-model:sort-by="data.sortBy"
        v-model:sort-type="data.sortType"
        :column="data.column"
        :setting="data.setting"
        @on-sort-change="sortClick"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'brand'">
            {{ data.brand }}
          </template>
          <template v-if="column.field === 'category'">
            {{ data.category }}
          </template>
          <template v-if="column.field === 'description'">
            {{ data.description }}
          </template>
          <template v-if="column.field === 'action'">
            <div class="flex gap-2 justify-center">
              <TwButton variant="primary" class="border border-gray-900">
                Edit
              </TwButton>
              <TwButton variant="danger"> Delete </TwButton>
            </div>
          </template>
        </template>
        <template #empty>
          <div class="bg-white dark:bg-gray-800 text-center w-full">No Data</div>
        </template>
      </TwDatatableServer>
    </div>

    <hr class="my-2 dark:border-gray-700" />
    <div>
      <div class="flex gap-2">
        <div class="w-32">Selected Data</div>
        <div>: {{ data.selected }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Order By</div>
        <div>: {{ data.sortBy }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Order Type</div>
        <div>: {{ data.sortType }}</div>
      </div>
      <div class="flex gap-2">
        <div class="w-32">Search</div>
        <div>: {{ data.search }}</div>
      </div>
    </div>
  </div>
</template>
