<script setup lang="ts">
import {
  TwForm,
  TwButton,
  TwFile,
  TwInput,
  TwMultiSelect,
  TwSelect,
  TwToggle,
  TwTextarea,
} from "vue3-tailwind";
import { useFormExample } from "@/store/formExample";
const formExample = useFormExample();
</script>

<template>
  <div>
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 등록</h2>
    </div>
    <div>
      <TwForm
        :name="formExample.formName"
        class="grid grid-cols-12 gap-2 bg-white dark:bg-gray-900 dark:border dark:border-gray-700 rounded-lg p-2 shadow"
        :class="{
          'tw-shake': formExample.isError,
        }"
        :rules="formExample.formRules"
        @submit="formExample.submit()"
        :custom-field-name="{
          inputExample: 'Input',
          textAreaExample: 'Text Area',
        }"
      >
        <div class="col-span-12 !text-[14px] mb-3 w-5/6 flex-col ">
          <TwInput
            label="제목"
            name="inputExample"
            v-model="formExample.formData.inputExample"
            type="text"
          />
          <CustomErrorMessage name="inputExample" />
        </div>
        <div class="col-span-12 !text-[14px] w-5/6">
          <TwTextarea
            label="Textarea"
            name="textAreaExample"
            v-model="formExample.formData.textAreaExample"
            placeholder="Textarea Field"
            type="text"
          />
          <CustomErrorMessage name="textAreaExample" />
        </div>

        <div class="col-span-12 flex justify-end gap-1">
          <TwButton
            ripple
            variant="secondary"
            type="button"
            class="px-4 dark:text-gray-200 dark:!border-gray-800 dark:border"
            @click="formExample.clear()"
          >
            Reset
          </TwButton>
          <TwButton variant="primary" class="px-4">
            Submit
          </TwButton>
        </div>
      </TwForm>
    </div>
  </div>
</template>
