<template>
  <!--제목, 소제목(헤더)-->
  <div class="flex justify-between mb-3">
    <div>
      <h1 class="text-xl font-bold text-[#212121]">공지사항</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">공지사항 리스트</h2>
    </div>
    <el-input class="!h-[35px] mt-3"
      v-model="search"
      style="width: 365px"
      size="large"
      placeholder="검색할 공지사항을 입력해주세요."
      :suffix-icon="Search"
    />
  </div>
  <div>
    <el-table :data="tableData" style="width: 100%" >
      <el-table-column fixed prop="id" label="No" width="100" sortable />
      <el-table-column prop="dateCreate" label="작성일시" width="250" sortable />
      <el-table-column prop="title" label="게시글 제목" width="300" sortable />
      <el-table-column prop="text" label="게시글 내용" width="auto" sortable />
      <el-table-column fixed="right" label="" width="130">
        <template #default="scope">
          <el-button size="small" @click="handleEdit(scope.$index, scope.row)"
          >수정</el-button>
          <el-button
            size="small"
            type="info"
            @click="handleDelete(scope.$index, scope.row)"
          >삭제</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
  <div class="example-pagination-block flex justify-center mt-4">
    <el-pagination layout="prev, pager, next" :total="50" />
  </div>

</template>


<script lang="ts" setup>
import {Search} from "@element-plus/icons-vue";
// import {ref} from "vue/dist/vue";
import { computed, ref } from 'vue'

interface User {
  id: number
  dateCreate: string
  title: string
  text: string
}

const search = ref('')
const handleEdit = (index: number, row: User) => {
  console.log(index, row)
}
const handleDelete = (index: number, row: User) => {
  console.log(index, row)
}


const tableData: User[] = [
  {
    id: 1,
    dateCreate: '2024-03-13  12:10',
    title: '서비스 긴급점검 안내1',
    text: '서비스 긴급점검 안내 드립니다....',
  },
  {
    id: 1,
    dateCreate: '2024-03-13  12:10',
    title: '서비스 긴급점검 안내1',
    text: '서비스 긴급점검 안내 드립니다....',
  },
  {
    id: 2,
    dateCreate: '2024-03-13  12:10',
    title: '서비스 긴급점검 안내2',
    text: '서비스 긴급점검 안내 드립니다....',
  },
  {
    id: 3,
    dateCreate: '2024-03-13  12:10',
    title: '서비스 긴급점검 안내3',
    text: '서비스 긴급점검 안내 드립니다....',
  },
  {
    id: 4,
    dateCreate: '2024-03-13  12:10',
    title: '서비스 긴급점검 안내4',
    text: '서비스 긴급점검 안내 드립니다....',
  },
  {
    id: 5,
    dateCreate: '2024-03-13  12:10',
    title: '서비스 긴급점검 안내5',
    text: '서비스 긴급점검 안내 드립니다....',
  },
]
const data = ref({
  search: ""
});
</script>
