<template>
  <div>
<!--제목, 소제목(헤더)-->
    <div class="flex justify-between">
      <div>
        <h1 class="text-[18px] font-bold text-[#212121]">라이더 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">라이더 상세 관리</h2>
      </div>
    </div>
<!--라이더 정보 박스 1-->
    <div class="w-full mt-2 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">라이더 No.2</p>
      </div>
      <div class="text-[15px]">
        <div class="ml-3 my-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="#ffffff" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-16 h-16 stroke-[#ffffff] bg-[#eeeeee] rounded-full">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
          </svg>
        </div>
        <div class="w-full">
<!--        <div class="divide-y divide-gray-200 dark:divide-gray-700">-->
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">이름</div>
              <div class="font-bold ">한은영</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">가입일</div>
              <div class="font-bold">2024-03-14 15:00</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">아이디</div>
              <div class="font-bold ">sunja32@example.com</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">생년월일</div>
              <div class="font-bold">2009-12-13</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">비밀번호</div>
              <div class="font-bold ">11111112</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">법적 보호자 동의서</div>
              <div class="font-bold">parents_confirmation.jpg</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">기종 구분</div>
              <div class="font-bold ">스마트폰</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">개인정보 약관 동의 여부</div>
              <div class="font-bold">O</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">휴대전화 번호</div>
              <div class="font-bold ">010-0073-8547</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">위치기반 약관 동의 여부</div>
              <div class="font-bold">O</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--라이더 계좌정보 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">계좌 정보</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">은행명</div>
              <div class="font-bold ">NH 농협</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">예금주명</div>
              <div class="font-bold">한은영</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">계좌번호</div>
              <div class="font-bold">1234567891011</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">예치금</div>
              <div class="font-bold">88,750원</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--라이더 배달 정보 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">배달 정보</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <div class="flex m-2.5">
            <div class="flex w-1/3">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">배달지역</div>
              <div class="font-bold ">상록구</div>
            </div>
            <div class="flex w-1/3">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">배달수단</div>
              <div class="font-bold">전동자전거</div>
            </div>
            <div class="flex w-1/3">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">번호판</div>
              <div class="font-bold">-</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--라이더 활동 상태 -->
    <div class="w-full mt-5 border-solid border-y border-[#212121]">
      <div class="w-full h-9 bg-[#1a1a1a] text-[#ffffff] font-bold leading-9 ">
        <p class="ml-3 text-[15px]">활동 상태</p>
      </div>
      <div class="text-[15px]">
        <div class="w-full">
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[1.938] mr-2 text-[#5e5e5e]">정지상태</div>
              <div class="font-bold ">X</div>
            </div>
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">정지일</div>
              <div class="font-bold">-</div>
            </div>
          </div>
          <hr>
          <div class="flex m-2.5">
            <div class="flex w-1/2">
              <div class="w-[2.75] mr-2 text-[#5e5e5e]">정지사유</div>
              <div class="font-bold">-</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center mt-5">
      <TwButton variant="danger" class="w-[4.375rem] text-center text-[13px] text-[#e0e0e0] ">
        확인
      </TwButton>
    </div>
  </div>
</template>
<script setup lang="ts">
import {TwButton} from "vue3-tailwind";
import {ref} from "vue";
const data = ref({
  id: "",
})

</script>
