<script setup lang="ts">
import { TwDatatableClient, TwButton } from "vue3-tailwind";
import { onMounted, ref } from "vue";
import {Search} from "@element-plus/icons-vue";
const value = ref('')
const search = ref('')
const options = [
  {
    value: 'DANWON',
    label: '단원구',
  },
  {
    value: 'SANGROCK',
    label: '상록구',
  },
]
const data = ref({
  column: [
    {
      label: "No",
      field: "id",
      width: "60px",
      sortable: true,
    },
    {
      label: "라이더명",
      field: "name",
      width: "80px",
      sortable: true,
    },
    {
      label: "아이디",
      field: "email",
      width: "200px",
      sortable: true,
    },
    {
      label: "가입일",
      field: "dateJoin",
      width: "80px",
      sortable: true,
    },
    {
      label: "휴대전화 번호",
      field: "phoneNumber",
      width: "100px",
      sortable: true,
    },
    {
      label: "배달수단",
      field: "driveType",
      width: "90px",
      sortable: true,
    },
    {
      label: "배달지역",
      field: "addressWish",
      width: "90px",
      sortable: true,
    },
    {
      label: "권한",
      field: "admin",
      width: "90px ",
      sortable: true,
    },
  ],
  data: [],
  limit: 5,
  search: "",
  selected: [],
  sortBy: "status",
  sortType: "asc",
  setting: {
    checkbox: false,
  },
});

const datatableHook = (arg: any) => {
  arg();
};

onMounted(() => {
  fetch("http://192.168.0.206:8080/v1/rider/all")
    .then((res) => res.json())
    .then((json) => {
      data.value.data = json.list;
    });
});
</script>

<template>
  <div>
    <!--제목, 소제목(헤더)-->
    <div class="w-full flex justify-between">
      <div class="w-1/4">
        <h1 class="text-xl font-bold text-[#212121]">라이더 관리</h1>
        <h2 class="text-[13px] text-[#5e5e5e]">라이더 리스트</h2>
      </div>
      <div class="w-1/4"></div>
      <el-select v-model="value" placeholder="지역 선택" style="width: 100px" class="!h-[35px] w-1/4 mt-3 ml-32">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value"
        />
      </el-select>
      <el-input class="!h-[35px] mt-3 w-[365px]"
                v-model="search"
                style="width: 365px"
                size="large"
                placeholder="검색할 라이더를 입력해주세요."
                :suffix-icon="Search"
      />
    </div>

    <div class="table-temp">
      <TwDatatableClient
        class="!dark:text-gray-200"
        v-model:search="data.search"
        v-model:limit="data.limit"
        v-model:selected="data.selected"
        v-model:sort-by="data.sortBy"
        v-model:sort-type="data.sortType"
        :column="data.column"
        :data="data.data"
        :setting="data.setting"
        @datatable:column-hook="datatableHook"
      >
        <template #row="{ column, data }">
          <template v-if="column.field === 'id'">
            {{ data.id }}
          </template>
          <template v-if="column.field === 'name'">
            {{ data.name }}
          </template>
          <template v-if="column.field === 'email'">
            {{ data.email }}
          </template>
          <template v-if="column.field === 'dateJoin'">
            {{ data.dateJoin }}
          </template>
          <template v-if="column.field === 'phoneNumber'">
            {{ data.phoneNumber }}
          </template>
          <template v-if="column.field === 'driveType'">
            {{ data.driveType }}
          </template>
          <template v-if="column.field === 'addressWish'">
            {{ data.addressWish }}
          </template>
          <template v-if="column.field === 'admin'">
            {{ data.admin }}
          </template>
          <!--          <template v-if="column.field === 'action'">-->
          <!--            <div class="flex gap-2 justify-center">-->
          <!--              <TwButton variant="primary" class="border border-gray-900">-->
          <!--                Edit-->
          <!--              </TwButton>-->
          <!--              <TwButton variant="danger"> Delete </TwButton>-->
          <!--            </div>-->
          <!--          </template>-->
        </template>
      </TwDatatableClient>
    </div>
  </div>
</template>
