<script setup lang="ts">
import { TwButton, useDialog, useToast } from "vue3-tailwind";

useHead({
  title: "Dialog",
});

const dialog = useDialog();
const toast = useToast();

async function toggleDialog() {
  const isConfirmed = await dialog.fire({
    title: "Hello there",
    description: "How are you?",
    icon: "help-circle",
  });

  if (!isConfirmed) {
    toast.error({
      message: "Rejected",
    });
    return;
  }
  toast.success({
    message: "Accepted",
  });
}
</script>

<template>
  <div class="">
    <div class="mb-3">
      <h1 class="text-xl font-bold text-[#212121]">순익 통계</h1>
      <h2 class="text-[13px] text-[#5e5e5e]">기간별 통계</h2>
    </div>
    <div class="grid grid-cols-3 gap-4 place-content-center h-[95px]">
      <div class="border rounded-[.250rem] ">
        <div>일반통계</div>
        <div>2024-03-13</div>
        <div>₩ 5,123,053</div>
      </div>
      <div>02</div>
      <div>03</div>
    </div>
  </div>
</template>
